---
import BaseLayout from "../layouts/BaseLayout.astro";
import HomeLayout from "../layouts/HomeLayout.astro";
import { Button } from "../components";
import { GlobeAnimation } from "../components/GlobeAnimation";
---

<BaseLayout title="DiscreteMath.ca">
  <HomeLayout>
    <img src="./images/home-page-logo.png" alt="DiscreteMath.ca" />
    <div>Learn Without Limits.</div>
    <div>
      Built by Carleton students, for Carleton students. DiscreteMath.ca is an
      interactive platform built specifically for content from Carleton's
      discrete mathematics courses.
    </div>
    <div class="home-buttons">
      <!-- TODO: remove ./ -->
      <a href="./comp1805">
        <Button label="comp 1805" />
      </a>
      <a href="./comp2804">
        <Button label="comp 2804" />
      </a>
    </div>
    <GlobeAnimation client:load />
  </HomeLayout>
</BaseLayout>

<style lang="scss">
  .home-buttons {
    a {
      text-decoration: none;
    }
  }
</style>
