button {
    border-radius: 0.3rem;
    border-width: 0px;
    min-width: 6rem;
    background-color: #FFAB40;
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.15s;
    .button_label {
        padding: 0.75rem 1.5rem;
    }
}

button:hover{
    background-color: #d68110;
}
