---
import CourseLayout from "./CourseLayout.astro";
---

<CourseLayout title="DiscreteMath.ca">
  <div class="examination-layout">
    <slot />
  </div>
</CourseLayout>

<style>
  .examination-layout {
    width: 75%;
  }
</style>
